// Remove shadow under navbar
.navbar {
  box-shadow: none;
}

// Full width Portfolio filter toolbar
.btn-toolbar .btn-group {
  flex: 1;
}

// Custom section spacing
.home-section {
  padding: 1.5rem 0;
}

.section-heading {
  margin-bottom: 3rem !important;
}

// Center CTA button
.cta-group {
  justify-content: center;
}

.ml-3 > a > img {
  padding: 3px;
  border-radius: 8px;
  overflow:hidden;
}

.media{
  border-radius: 5px;
  border: 2px solid #7272727f;
  padding: 20px; 
  margin-top: 10px;
}

button {
  border-radius: 3px;
  border: none;
}

button:hover,
button:focus {
  background: #6caeff;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

.featured-image {
  max-height: 400px;
  object-fit: contain;
}

h1 {
  font-size: 1.8rem;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 900;
}

pre {
  font-size: 0.85rem;
}